#navbar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    height: 35px;
}

#pic_div img{
    padding-left: 10px;
}

#title_div {
    margin: auto;
}

#dp_menu_div {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    right: 0px;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown_btn {
    background-color: white;
    font-size: 16px;
    border: none;
}

#dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown:hover #dropdown_content {
    display: block;
}

#header {
    position: relative;
    height: 100vh;
    border-width: 1px;
    border-style: solid;
}

#title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}